<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boye.dao.LogDao">
	<select id="getAdminOperationRecord" resultType="adminOperationRecord">
		select info.admin_name, record.*
		from admin_operation_record record 
		LEFT JOIN platform_admin_info info ON record.admin_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="admin_name != null and admin_name != ''">
                and info.admin_name like concat('%',#{admin_name},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	order by record.create_time desc limit #{start}, #{page_size}
	</select>
	
	<select id="getAdminOperationRecordCount" resultType="int">
		select count(*)
		from admin_operation_record record 
		LEFT JOIN platform_admin_info info ON record.admin_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="admin_name != null and admin_name != ''">
                and info.admin_name like concat('%',#{admin_name},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	</select>
	
	<select id="getShopLoginRecord" resultType="shopLoginRecord">
		select info.shop_name, info.login_number, record.id, record.shop_id, record.login_type, record.login_ip, record.state,record.create_time 
		from shop_login_record record 
		LEFT JOIN shop_user_info info ON record.shop_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.shop_id = #{main_condition}
            </if>
            <if test="shop_name != null and shop_name != ''">
                and info.shop_name like concat('%',#{shop_name},'%')
            </if>
            <if test="login_number != null and login_number != ''">
                and info.login_number like concat('%',#{login_number},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
            
        </where>
	order by record.create_time desc limit #{start}, #{page_size}
	</select>
	
	<select id="getShopLoginRecordCount" resultType="int">
		select count(*)
		from shop_login_record record 
		LEFT JOIN shop_user_info info ON record.shop_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and shop_id = #{main_condition}
            </if>
            <if test="shop_name != null and shop_name != ''">
                and info.shop_name like concat('%',#{shop_name},'%')
            </if>
            <if test="login_number != null and login_number != ''">
                and info.login_number like concat('%',#{login_number},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	</select>
	
	<select id="getShopOperationRecord" resultType="shopOperationRecord">
		select info.shop_name, record.*
		from shop_operation_record record 
		LEFT JOIN shop_user_info info ON record.shop_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.shop_id = #{main_condition}
            </if>
             <if test="shop_name != null and shop_name != ''">
                and info.shop_name like concat('%',#{shop_name},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	order by record.create_time desc limit #{start}, #{page_size}
	</select>
	
	<select id="getShopOperationRecordCount" resultType="int">
		select count(*)
		from shop_operation_record record 
		LEFT JOIN shop_user_info info ON record.shop_id = info.id
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and shop_id = #{main_condition}
            </if>
            <if test="shop_name != null and shop_name != ''">
                and info.shop_name like concat('%',#{shop_name},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	</select>
	
	
	<select id="getAgentLoginRecord" resultType="agentLoginRecord">
		select info.agent_name, info.login_number, record.id, record.agent_id, record.login_type, record.login_ip, record.state,record.create_time 
		from agent_login_record record 
		LEFT JOIN agent_info info ON record.agent_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.agent_id = #{main_condition}
            </if>
            <if test="agent_name != null and agent_name != ''">
                and info.agent_name like concat('%',#{agent_name},'%')
            </if>
            <if test="login_number != null and login_number != ''">
                and info.login_number like concat('%',#{login_number},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
            
        </where>
	order by record.create_time desc limit #{start}, #{page_size}
	</select>
	
	<select id="getAgentLoginRecordCount" resultType="int">
		select count(*)
		from agent_login_record record 
		LEFT JOIN agent_info info ON record.agent_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.agent_id = #{main_condition}
            </if>
            <if test="agent_name != null and agent_name != ''">
                and info.agent_name like concat('%',#{agent_name},'%')
            </if>
            <if test="login_number != null and login_number != ''">
                and info.login_number like concat('%',#{login_number},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	</select>
	
	
	<select id="getAgentOperationRecord" resultType="agentOperationRecord">
		select info.agent_name, record.*
		from agent_operation_record record 
		LEFT JOIN agent_info info ON record.agent_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.agent_id = #{main_condition}
            </if>
             <if test="agent_name != null and agent_name != ''">
                and info.agent_name like concat('%',#{agent_name},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	order by record.create_time desc limit #{start}, #{page_size}
	</select>
	
	<select id="getAgentOperationRecordCount" resultType="int">
		select count(*)
		from agent_operation_record record 
		LEFT JOIN agent_info info ON record.agent_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.agent_id = #{main_condition}
            </if>
            <if test="agent_name != null and agent_name != ''">
                and info.agent_name like concat('%',#{agent_name},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	</select>
	
	
	
	<select id="getAdminLoginRecord" resultType="adminLoginRecord">
		select info.admin_name, info.login_number, record.id, record.admin_id, record.login_type, record.login_ip, record.state,record.create_time 
		from admin_login_record record 
		LEFT JOIN platform_admin_info info ON record.admin_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.admin_id = #{main_condition}
            </if>
            <if test="admin_name != null and admin_name != ''">
                and info.admin_name like concat('%',#{admin_name},'%')
            </if>
            <if test="login_number != null and login_number != ''">
                and info.login_number like concat('%',#{login_number},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
            
        </where>
	order by record.create_time desc limit #{start}, #{page_size}
	</select>
	
	<select id="getAdminLoginRecordCount" resultType="int">
		select count(*)
		from admin_login_record record 
		LEFT JOIN platform_admin_info info ON record.admin_id = info.id 
		<where>
            record.delete_flag = 0
            <if test="main_condition != null and main_condition != ''">
                and record.admin_id = #{main_condition}
            </if>
            <if test="admin_name != null and admin_name != ''">
                and info.admin_name like concat('%',#{admin_name},'%')
            </if>
            <if test="login_number != null and login_number != ''">
                and info.login_number like concat('%',#{login_number},'%')
            </if>
            <if test="start_time != null and start_time != ''">
                and record.create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and record.create_time &lt;= #{end_time}
	        </if>
        </where>
	</select>
	
</mapper>