<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boye.dao.PassagewayAccountDao">
    
    <select id="getAccountByPlatformOrderNumberAndType" resultType="passagewayAccount">
        select * from passageway_account where platform_order_number = #{platform_order_number} and type = #{type} and delete_flag=0
    </select>
    
    <select id="getAccountByPlatformOrderNumber" resultType="passagewayAccount">
        select * from passageway_account where platform_order_number = #{platform_order_number} and delete_flag=0
    </select>
    
</mapper>