<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boye.dao.PlatformIncomeAccountDao">
    
    <select id="getPlatformIncomeByOrderId" resultType="PlatformIncomeAccount">
        select * from platform_income_account where order_id = #{order_id} and delete_flag = 0
    </select>
    
    <select id="getPlatformIncomeAccountListByCount" resultType="int">
        select count(1)
		from platform_income_account
		<where>
            delete_flag = 0 
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
             <if test="platform_order_number != null and platform_order_number != ''">
                and platform_order_number=#{platform_order_number}
            </if>
            <if test="state == -1 || state == 0 || state == 1">
                and state=#{state}
            </if>
            <if test="start_time != null and start_time != ''">
                and create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and create_time &lt;= #{end_time}
	        </if>
        </where>
    </select>
    
    <select id="getPlatformIncomeAccountListBypage" resultType="platformIncomeAccount">
        select *
		from platform_income_account
		<where>
            delete_flag = 0 
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
             <if test="platform_order_number != null and platform_order_number != ''">
                and platform_order_number=#{platform_order_number}
            </if>
            <if test="state == -1 || state == 0 || state == 1">
                and state=#{state}
            </if>
            <if test="start_time != null and start_time != ''">
                and create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and create_time &lt;= #{end_time}
	        </if>
        </where>
      order by create_time desc  limit #{start}, #{page_size}
    </select>
    
    <select id="incomeAccountStatistics" resultType="platformIncomeAccount">
        select type , sum(actual_money) as actual_money
		from platform_income_account
		<where>
            delete_flag = 0 
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
             <if test="platform_order_number != null and platform_order_number != ''">
                and platform_order_number=#{platform_order_number}
            </if>
            <if test="state == -1 || state == 0 || state == 1">
                and state=#{state}
            </if>
            <if test="start_time != null and start_time != ''">
                and create_time &gt;= #{start_time}
            </if>
            <if test="end_time != null and end_time != ''">
	            and create_time &lt;= #{end_time}
	        </if>
        </where>
        group by type
    </select>

</mapper>