<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boye.dao.RoleMenuDao">

    <select id="findRoleMenuListByRoleId" resultType="RoleMenu">
        select * from role_menu  
        where role_id = #{role_id} and delete_flag = 0
    </select>
    
    <update id="updateMenuRoleByRoleId">
    	update role_menu set delete_flag = 1 where role_id = #{role_id}
    </update>
</mapper>