<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boye.dao.ShopConfigDao">
    <!-- 返回map结果集 -->
    <resultMap id="DetailMap" type="shopConfig" extends="ListMap" />
    <!-- 返回list结果集 -->
    <resultMap id="ListMap" type="shopConfig" />

    <sql id="cols">
      shop_id,pay_type,pay_rate,agent_rate
    </sql>

    <select id="getShopConfigByShopId" resultType="shopConfig">
        select * from shop_config
        <where>
        	shop_id = #{shop_id}
        </where>
    </select>
    
    <select id="bankCardRateByShopId" resultType="shopConfig">
        select *
        from shop_config
        where delete_flag = 0 and shop_id = #{shop_id} and pay_type = 3
    </select>
    
    <select id="getShopConfigByShopAndPsway" resultType="shopConfig">
        select *
        from shop_config
        where delete_flag = 0 and enable = 0 and shop_id = #{shop_id} and passageway_id = #{passageway_id}
    </select>
    
    <select id="getBankShopConfigByShopId" resultType="shopConfig">
        select *
        from shop_config
        where delete_flag = 0 and shop_id = #{shop_id} and passageway_id = 1
    </select>
    
    <select id="shopConfigListByShop" resultType="shopConfigInfoBean">
        select conf.id, passage.passageway_name, passage.passageway_code, passage.passageway_describe, conf.pay_rate, conf.agent_rate
        from shop_config conf
        LEFT JOIN passageway_info passage ON conf.passageway_id = passage.id
        <where>
      		conf.delete_flag = 0 and passage.delete_flag = 0 and conf.shop_id = #{main_condition}
      		<if test="passageway_name != null and passageway_name != ''">
                and passage.passageway_name like concat('%',#{passageway_name},'%')
            </if>
         
            
      	</where> 
	order by conf.create_time desc	limit #{start}, #{page_size}
    </select>
    
    <select id="shopConfigListCountByShop" resultType="int">
        select count(*)
        from shop_config conf
        LEFT JOIN passageway_info passage ON conf.passageway_id = passage.id
      	<where>
      		conf.delete_flag = 0 and passage.delete_flag = 0 and conf.shop_id = #{main_condition}
      		<if test="passageway_name != null and passageway_name != ''">
                and passage.passageway_name like concat('%',#{passageway_name},'%')
            </if>
            
            
      	</where> 
    </select>
    
    <select id="shopConfigListNew" resultType="shopConfig">
        select *
        from shop_config conf
        LEFT JOIN passageway_info passage ON conf.passageway_id = passage.id
        <where>
      		conf.delete_flag = 0 and passage.delete_flag = 0 and conf.shop_id = #{main_condition} and passage.passageway_type = #{type}
      		<if test="passageway_name != null and passageway_name != ''">
                and passage.passageway_name like concat('%',#{passageway_name},'%')
            </if>
      	</where> 
	order by conf.create_time desc	limit #{start}, #{page_size}
    </select>
    
    <select id="shopConfigListCountNew" resultType="int">
        select count(*)
        from shop_config conf
        LEFT JOIN passageway_info passage ON conf.passageway_id = passage.id
      	<where>
      		conf.delete_flag = 0 and passage.delete_flag = 0 and conf.shop_id = #{main_condition} and passage.passageway_type = #{type}
      		<if test="passageway_name != null and passageway_name != ''">
                and passage.passageway_name like concat('%',#{passageway_name},'%')
            </if>
            
            
      	</where> 
    </select>
    
     <select id="findShopConfigByShopId" resultType="shopConfig">
        select *
        from shop_config
        where delete_flag = 0 and shop_id = #{shop_id} and enable = 0
    </select>
    
    
    <select id="findAll" resultType="shopConfig">
        select *
        from shop_config
        where delete_flag = 0 and enable = 0 
    </select>
</mapper>